@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>
    Today's Pickups   @*@Html.DropDownList("SelectedDayOfWeek", (IEnumerable<SelectListItem>)ViewBag.DaysOfWeek, " ")*@
    @Html.ActionLink("Mon", "Index", new { selectDayOfWeek = 1 })
    @Html.ActionLink("Tue", "Index", new { selectDayOfWeek = 2 })
    @Html.ActionLink("Wed", "Index", new { selectDayOfWeek = 3 })
    @Html.ActionLink("Thu", "Index", new { selectDayOfWeek = 4 })
    @Html.ActionLink("Fri", "Index", new { selectDayOfWeek = 5 })
</h2>
@*@html.beginform*@
@*view ("Index",  customers);*@

@using (Html.BeginForm("FilterDayOfWeek", "Employee"))
{
    <table>
        <tr>
            <td>
                @Html.DropDownList("selectDayOfWeek", (IEnumerable<SelectListItem>)ViewBag.DaysOfWeek, " ")
                @*@Html.DropDownList("SelectedDayOfWeek2", (IEnumerable<SelectListItem>)ViewBag.DaysOfWeek)*@
            </td>
            <td>
                <input type="submit" value="Go">
            </td>
        </tr>
        <tr>
            @*<td>
                    <input type="submit" value="Go">
                </td>*@
        </tr>
    </table>
}

@*<!DOCTYPE html>
<html>
<head>*@
    @*<title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 10%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 10%;
            margin: 0;
            padding: 0;
        }
    </style>*@
@*</head>
<body>*@





    @*return RedirectToAction("Index", "Employee");//, new { id = thisUserID });
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@

    @*// ViewBag.Day*@
    <p>
        @*@Html.ActionLink("Create New", "Create")*@
        @*@Html.   .DisplayText("Looking at work for ")*@
        @*@Html.DropDownList("DayOfWeek", (IEnumerable<SelectListItem>)ViewBag.DaysOfWeek, " ")*@
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DayOfWeekPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialPickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StopDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDetails)
            </th>
            <th>
                @*@Html.DisplayNameFor("Confirm")*@
                @Html.DisplayName("Confirm Pickup")
            </th>
            <th>
                @*@Html.DisplayNameFor("Confirm")*@
                @Html.DisplayName("Map")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeekPickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialPickupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StopDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Bill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillDetails)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.RoleName)*@
                @*@Html.ActionLink("Create New", "Create")*@
                @*@Html.ActionLink("Confirm", "Confirm", new { id = item.ID }, new { id = item.ID }) |*@
                @Html.ActionLink("Confirm", "ConfirmPickup", new { id = item.ID }) |
            </td>
            <td>
                @Html.Action("Map", "MapAddress", new { id = item.ID})
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
        }
    </table>


    @*<!DOCTYPE html>
        <html>
        <head>
            <title>Simple Map</title>
            <meta name="viewport" content="initial-scale=1.0">
            <meta charset="utf-8">
            <style>
                 /* Always set the map height explicitly to define the size of the div
                * element that contains the map. */
                 #map {
                     height: 10%;
                 }
                 /* Optional: Makes the sample page fill the window. */
                 html, body {
                     height: 10%;
                     margin: 0;
                     padding: 0;
                 }
            </style>
        </head>*@
    @*<body>*@
    @*<div id="map"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
            async defer></script>*@
@*</body>
</html>*@





